* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 40vh;
    background: url('./assets/img/logo-web.jpg');
}

#navigation {
    height: 50px;
    background-color: burlywood;
}

#navigation .search-btn {
    float: right;
    padding: 0 20px;
}

#navigation .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#navigation .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav .subnav li:hover,
#nav > li:hover >a
{
    color: #000;
    background: #ccc;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    padding: 0 12px;
    line-height: 50px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}




#slider {
    min-height: 1000px;
    /* background-color: cadetblue; */

}

#content {

}

#footer {

}
